astroid==2.0.4
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
idna==2.7
isort==4.3.4
lazy-object-proxy==1.3.1
mccabe==0.6.1
plumbum==1.6.7
pylint==2.1.1
pymongo==3.7.1
requests==2.19.1
rpyc==4.0.2
six==1.11.0
urllib3==1.24.2
wrapt==1.10.11
